/*============ GOOGLE FONTS  ============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*============ VARIABLE CSS ============*/
:root {
    /*============ COLORS  ============*/
    --spotify-green: rgba(30, 215, 96, 1);
    --spotify-black: rgba(25, 20, 20, 1);
    --alt-color: rgba(197, 192, 195, 0.32);

    /*============ FONT AND TYPOGRAPHY  ============*/
    --body-font: 'Poppins', sans-serif;
    
    /*============ FONT SIZE ============*/
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.95rem;
}

/*============ BASE  ============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--spotify-black);
    color: var(--spotify-black);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*============ REUSABLE CSS CLASSES  ============*/
.grid {
    display: grid;
    gap: 1.5rem;
}